@top-bar: #B93232;
@background: rgb(74, 96, 104);
@import url(http://fonts.googleapis.com/css?family=Chau+Philomene+One);

h1, h2, h3, h4, h5, a, label, p {
  font-family: 'Chau Philomene One';
}

body {
  background-color: lightgrey;
  background-image: url(/img/colorbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#metalBody {
  background-color: lightgrey;
  background-image: url(/img/squared_metal.png);
}

.pad {
  padding: 10px;
}

img {
  opacity: 1 !important;
  box-shadow: 5px 5px 3px #888888;
}

.myRadius {
  border-radius: 30px;
}

.space {
  margin: 10px;
}

.spaceVertical {
  margin: 10px 0;
}

.clear{
  clear: both;
}

.fancy {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
}

.fancy2 {
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-align: center;
}

.background {
  background-color: @background;
}

.white {
  color: white;
}

.red {
  background-color: @top-bar;
}

#bottom {
  height:  200px;
  background-color: #FFF;
  border-top: 11px solid @top-bar;
  color: #34495e;
  opacity: .9;
}

#bottom-background {
  height:  200px;
  background-color: @top-bar;
  opacity: .9;
}

//<======Template======>

.createWodForm {
  background-color: #ecf0f1;
  padding: 5px;
  border: 7px solid @top-bar;
  border-radius: 20px;
  text-align: center;
}

.top-bar {
  background: @top-bar !important;
}

ul .left {
  background: @top-bar !important;
}

#infopage {
  height: 200px;
  width: 100%;
  background-color: white;
}

//<======Home Page======>
#tabWrap {
  position: relative;
  background-color: #fff;
  opacity: .96;
  border-radius: 10px;
  border: 12px solid #b93232;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#progressPics {
  position: absolute;
  top: 15px;
  right: 15px;
}

//<======Wods Index======>

#pages > label {
  font-size: 20px;
  color: white;
  text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;  
}

.menu {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  background-color: @top-bar;
}

#filterBy {
  margin: 0 0 0 20px;
}

.push{
  margin: 0 0 0 20px;
}

.movement {
  margin: 2px;
  background-color: #1a4153;
}

.accordion dd > a {
  background: @top-bar;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  border: 1px solid black;
}

.accordion dd.active > a {
  background: #333333;
}

.accordion dd.active > a:hover {
  color: white;
}

.accordion dd > a:hover{
  color: black;
}

.headLabel {
  text-align: center;
  font-size: 48px;
  color: white;
  text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;  
}

#header{
  background: #333333;
}

p.explanation {
  color: white;
}

label.explanation {
  color: white;
  font-size: 16px;
}

//<------User Show------>//

.workout {
  border: 1px solid #333333;
  margin: 10px 5px;
  padding: 10px;
}

.wod {
  padding: 5px;
  margin: 5px;
  background-color: lightgrey;
  border: 1px solid @top-bar;
}
