extends ../shared/template
block content
    .row
      .small-12.columns
        #container
          #header.spaceVertical
            label.push.headLabel Search The Workout Database
            .row
              .small-3.columns
                label.explanation.push Search Filter
                input#filterBy
              .small-6.columns
                p.explanation Once you find a workout you can add it to your own workout database that will track your progress! Click the name of the WOD to see demos via YouTube.
              .small-3.columns
          .row
            .small-4.columns
              dl.accordion(data-accordion)
                dd.active
                  a(href="#panel1") Bodyweight Movements
                  #panel1.content.active
                    button.tiny.radius.movement Push-Up
                    button.tiny.radius.movement Sit-up
                    button.tiny.radius.movement Air Squat
                    button.tiny.radius.movement Muscle-Up
                    button.tiny.radius.movement Burpees
                    button.tiny.radius.movement Handstand Push-up

                dd
                  a(href="#panel2") Olympic Lifts
                  #panel2.content
                    button.tiny.radius.movement Clean & Jerk
                    button.tiny.radius.movement Clean & Press
                    button.tiny.radius.movement Hang Cleann
                    button.tiny.radius.movement Snatch
                    button.tiny.radius.movement Power Snatch
                dd
                  a(href="#panel3") Power Lifts
                  #panel3.content
                    button.tiny.radius.movement Squat
                    button.tiny.radius.movement Deadlift
                    button.tiny.radius.movement Bench Press
              //
                .menu.myRadius
                  label.fancy Filter
                  input#filterBy
                  .space
                  .space
                  label.fancy Wods By Movement
                .menu.myRadius
                  label.fancy Power Lifts
                  .space
                    button.tiny.radius.movement Squat
                    button.tiny.radius.movement Deadlift
                    button.tiny.radius.movement Bench Press
                .menu.myRadius
                  label.fancy Olympic Lifts
                  .space
                    button.tiny.radius.movement Clean & Jerk
                    button.tiny.radius.movement Clean & Press
                    button.tiny.radius.movement Hang Clean
                    button.tiny.radius.movement Snatch
                    button.tiny.radius.movement Power Snatch
                .menu.myRadius
                  label.fancy Body Weight
                  .space
                    button.tiny.radius.movement Push-Up
                    button.tiny.radius.movement Sit-up
                    button.tiny.radius.movement Air Squat
                .menu.myRadius
                  label.fancy Special Equipment
                  .space
                    button.tiny.radius.movement Kettlebell
                    button.tiny.radius.movement Wall Ball
                    button.tiny.radius.movement Rope Climb


            .small-8.columns
              .row
                .small-12.columns
                  #pages
                  .clear
                  .space
                  #wods



  block scripts
  script(src='/js/source/wodindex.js')
