extends ../shared/template
block content
    .row
      .small-12.columns
        #container
          .row
            .small-4.columns
                #menu
                  label.fancy Filter
                  input#filterBy
                  .space
                  .space
                  label.fancy Wods By Movement
                  label -------------
                  label.fancy Power Lifts
                  .space
                    button.tiny.radius.movement Squat
                    button.tiny.radius.movement Deadlift
                    button.tiny.radius.movement Bench Press
                  label.fancy Olympic Lifts
                  .space
                    button.tiny.radius.movement Clean & Jerk
                    button.tiny.radius.movement Clean & Press
                    button.tiny.radius.movement Hang Clean
                    button.tiny.radius.movement Snatch
                    button.tiny.radius.movement Power Snatch
                  label.fancy Body Weight
                  .space
                    button.tiny.radius.movement Push-Up
                    button.tiny.radius.movement Sit-up
                    button.tiny.radius.movement Air Squat
                  label.fancy Special Equipment
                  .space
                    button.tiny.radius.movement Kettlebell
                    button.tiny.radius.movement Wall Ball
                    button.tiny.radius.movement Rope Climb


            .small-8.columns
              .button-bar
                .button-group
              .row
                .small-12.columns
                  #wods



  block scripts
  script(src='/js/source/wodindex.js')
