extends ../shared/template

block content
  .row
    .small-12.columns
      #container
        if user
          #tabWrap
            .row
              .small-4.columns
                img(src= user.cover)
              .small-8.columns
                h1= user.name
                h2= user.email
                h3#progressPics: a(href='/user/progress') Progress Pics
            .row
              .small-12.columns
                if user.wods
                  - for (var i=0; i<user.wods.length; i++)
                    .workout
                      h3= user.wodsCompleted[i].name
                      h5= user.wods[i].date
                      if !user.wods[i].finished
                        if user.wodsCompleted[i].category == 'AMRAP'
                          .reps
                            .row
                              .small-2.columns
                                h5 Record Total Reps 
                              .small-3.columns
                                input
                              .small-2.columns
                                button.tiny.alert.radius Record
                              .small-5.columns
                        if user.wodsCompleted[i].category == 'For Time'
                          .forTime
                            .row
                              .small-2.columns
                                h5 Record Your Time
                              .small-3.columns
                                input
                              .small-2.columns
                                button.tiny.alert.radius Record
                              .small-5.columns
